{
  "swagger": "2.0",
  "info": {
    "title": "transfer",
    "version": "1.0"
  },
  "host": "global-api-sandbox.lianlianpay-inc.com",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/members/{memberId}/transfer/{functionType}": {
      "post": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/transfer"
            }
          },
          "400": {
            "description": "Possible error codes:\n\n| Code | Description |\n|------|-------------|\n| 999995 | parameter error |\n| 999997| externalchannel error |\n| 999996 | unknown_Error |\n|L60001|duplicate transferId|\n|L60002|oldTransferId not exist|\n|L60003|Insufficient balance|\n|L60004|return amount exceed original amount|",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "": {
            "schema": {
              "$ref": "#/definitions/transfer"
            },
            "description": ""
          }
        },
        "summary": "Create Transfer",
        "description": "Different types of transfer can be created on member accounts for different scenarios.\n\nThe function type is used to distinguish whether the transfer is initiated or returned. \n\nThe transaction type is used to distinguish which scenario the transfer belongs to.\n\n| transferType | Scenarios |\n|------|-------------|\n| 1 | Credit member account for fund in transit |\n| 2 | Debit coupon account to member account |\n| 3 | Debit member account to the platform's commission account |\n\nReturn type is `Transfer` object\n",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "Create-transfer",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "transferType": {
                  "type": "string",
                  "description": "Transfer type, one of:\n\n| Code | Description |\n|------|-------------|\n| 1 | Credit member account for fund in transit |\n| 2 | Credit member account for marketing fund |\n| 3 | Debit member account to the platform's commission account |",
                  "enum": [
                    "1",
                    "2",
                    "3"
                  ],
                  "maxLength": 2
                },
                "transferId": {
                  "type": "string",
                  "description": "Transfer ID",
                  "maxLength": 64
                },
                "oldTransferId": {
                  "type": "string",
                  "description": "Original transfer ID, mandatory if the functionType = return",
                  "maxLength": 64
                },
                "payChannelType": {
                  "type": "string",
                  "description": "Mandatory only if transactionType = 1 & functionType = initiate\n\nAcquirer, one of:\n\n| Code | Description |\n|------|-------------|\n| 0001 | Wechat |\n| 0002 | Alipay |",
                  "enum": [
                    "0001",
                    "0002"
                  ],
                  "maxLength": 20
                },
                "payChannelAssignMerNo": {
                  "type": "string",
                  "description": "Mandatory only if transactionType = 1 & functionType = initiate\n\nMerchant number assigned to platform in acquirer's system",
                  "maxLength": 50
                },
                "payChannelTranSeqNo": {
                  "type": "string",
                  "description": "Mandatory only if transactionType = 1 & functionType = initiate\n\nTransaction number in acquirer's system",
                  "maxLength": 50
                },
                "amount": {
                  "type": "string",
                  "description": "Tranaction amount",
                  "maxLength": 20
                },
                "commission": {
                  "type": "string",
                  "description": "Commission fee",
                  "maxLength": 20
                },
                "remark": {
                  "type": "string",
                  "description": "Remark",
                  "maxLength": 120
                }
              },
              "required": [
                "transferType",
                "transferId",
                "amount"
              ]
            },
            "description": ""
          }
        ],
        "tags": [
          "Operations"
        ]
      },
      "parameters": [
        {
          "type": "string",
          "name": "functionType",
          "in": "path",
          "required": true,
          "description": "function type, one of:\n\n| Code | Description |\n|------|-------------|\n| initiate | Initiate a transaction |\n| return | Return a transaction |"
        },
        {
          "type": "string",
          "name": "memberId",
          "in": "path",
          "required": true,
          "description": "Member ID from platform"
        }
      ]
    },
    "/members/{memberId}/transfer/{batchId}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/transfer"
            }
          },
          "400": {
            "description": "Possible error codes:\n\n| Code | Description |\n|------|-------------|\n| 999995 | parameter error |\n| 999997| externalchannel error |\n| 999996 | unknown_Error |",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "": {
            "schema": {
              "$ref": "#/definitions/transfer"
            }
          }
        },
        "description": "Get a transaction request details by id.\n\nReturn type is `Transfer`object",
        "summary": "Get Transfer Detail",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "get-transfer-detail",
        "tags": [
          "Operations"
        ]
      },
      "parameters": [
        {
          "type": "string",
          "name": "memberId",
          "in": "path",
          "required": true,
          "description": "Member ID from platform"
        },
        {
          "type": "string",
          "name": "batchId",
          "in": "path",
          "required": true
        }
      ]
    }
  },
  "definitions": {
    "transfer": {
      "type": "object",
      "title": "Transfer",
      "description": "Data set defined in Lianlian Pay bank partner's system to describe a transaction related to host's member account",
      "x-tags": [
        "Models"
      ],
      "properties": {
        "memberId": {
          "type": "string",
          "description": "Member ID from platform",
          "maxLength": 32
        },
        "functionType": {
          "type": "string",
          "description": "function type, one of: \n\n| Code | Description |\n|------|-------------|\n| initiate | Initiate a transaction |\n| return | Return a transaction |",
          "maxLength": 2,
          "enum": [
            "initial",
            "cancel"
          ]
        },
        "transferType": {
          "type": "string",
          "description": "Transfer type, one of:\n\n| Code | Description |\n|------|-------------|\n| 1 | Credit member account for fund in transit |\n| 2 | Credit member account for marketing fund |\n| 3 | Debit member account to the platform's commission account |",
          "maxLength": 1,
          "enum": [
            "1",
            "2",
            "3"
          ],
          "minLength": 1
        },
        "transferId": {
          "type": "string",
          "maxLength": 64,
          "description": "Transfer ID"
        },
        "oldTransferId": {
          "type": "string",
          "description": "Original transferId, mandatory if the functionType = return",
          "maxLength": 64
        },
        "amount": {
          "type": "string",
          "description": "Transaction amount",
          "maxLength": 20
        },
        "commission": {
          "type": "string",
          "description": "Commission fee",
          "maxLength": 20
        },
        "payChannelType": {
          "type": "string",
          "description": "Mandatory only if transactionType = 1 & functionType = initiate\n\nAcquirer, one of:\n\n| Code | Description |\n|------|-------------|\n| 0001 | Wechat |\n| 0002 | Alipay |",
          "maxLength": 20,
          "enum": [
            "0001",
            "0002"
          ]
        },
        "payChannelAssignMerNo": {
          "type": "string",
          "description": "Mandatory only if transactionType = 1 & functionType = initiate\n\nMerchant number assigned to platform in acquirer's system",
          "maxLength": 50
        },
        "payChannelTranSeqNo": {
          "type": "string",
          "description": "Mandatory only if transactionType = 1 & functionType = initiate\n\nTransaction number in acquirer's system",
          "maxLength": 50
        },
        "tranDate": {
          "type": "string",
          "description": "Transfer date",
          "maxLength": 8
        },
        "tranTime": {
          "type": "string",
          "description": "Transfer time",
          "maxLength": 20
        },
        "remark": {
          "type": "string",
          "description": "Remark",
          "maxLength": 120
        },
        "status": {
          "type": "string",
          "description": "Status, one of:\n\n| Code | Description |\n|------|-------------|\n| 0 | Success |\n| 1 | Failed |\n| 2 | In progress |",
          "enum": [
            "0",
            "1",
            "2"
          ],
          "maxLength": 2
        },
        "failMsg": {
          "type": "string",
          "description": "Error message if applicable",
          "maxLength": 300
        }
      },
      "required": [
        "memberId",
        "functionType",
        "transferType",
        "transferId",
        "amount",
        "tranDate",
        "tranTime",
        "status"
      ]
    }
  }
}