{
  "swagger": "2.0",
  "info": {
    "title": "webhook",
    "version": "1.0"
  },
  "host": "global-api-sandbox.lianlianpay-inc.com",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/webhooks": {
      "post": {
        "responses": {
          "200": {
            "description": "Webhooks",
            "schema": {
              "$ref": "#/definitions/webhook"
            }
          },
          "400": {
            "description": "Possible error codes:\n\n| Code | Description |\n|------|-------------|\n| 999995 | \\[PARAMETER\\] ERROR_MESSAGE |\n| 108012 | Duplicate Webhook Registration |",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/webhook"
            }
          }
        },
        "summary": "Register Webhook",
        "description": "Register a webhook in Lianlian Pay's system. Registered webhook will be used to send events generated by Lianlian Pay bank partner's system.\n\nReturn type is `Webhook` object",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "register-webhook",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "required": [
                "name",
                "url",
                "topics"
              ],
              "properties": {
                "name": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "topics": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "tags": [
          "Operations"
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/webhook"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "Get Webhook Registration List",
        "description": "Get a list of webhook registrations of a client. If no registrations, empty list will be returned.\n\nReturn type is List<`Webhook`>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "get-webhook-registration-list",
        "tags": [
          "Operations"
        ]
      }
    },
    "/webhooks/{webhookId}": {
      "get": {
        "responses": {
          "200": {
            "description": "Webhooks",
            "schema": {
              "$ref": "#/definitions/webhook"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "Get Webhook Registration",
        "description": "Get a webhook registration details by `webhookId`.\n\nReturn type is `Webhook` object",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "get-webhook-registration",
        "tags": [
          "Operations"
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/webhook"
            }
          },
          "400": {
            "description": "Possible error codes:\n\n| Code | Description |\n|------|-------------|\n| 999995 | \\[PARAMETER\\] ERROR_MESSAGE |\n| 108012 | Duplicate Webhook Registration |\n",
            "schema": {
              "$ref": "#/definitions/webhook"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "Edit Webhook Registration",
        "description": "Edit a webhook registration by `webhookId`, such as turn on/off webhook, update webhook callback url, update registration topics.\n\nReturn type is `Webhook` object",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "edit-webhook-registration",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "isEnabled": {
                  "type": "boolean",
                  "description": "Enable/disable callbacks"
                },
                "url": {
                  "type": "string",
                  "description": "Client callback url"
                },
                "topics": {
                  "type": "array",
                  "description": "Event topics in Lianlian Pay's system",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "isEnabled",
                "url",
                "topics"
              ]
            },
            "description": ""
          }
        ],
        "tags": [
          "Operations"
        ]
      },
      "parameters": [
        {
          "name": "webhookId",
          "in": "path",
          "type": "string",
          "required": true,
          "description": "Webhook id in Lianlian Pay's system"
        }
      ],
      "delete": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "Delete Webhook Registration",
        "description": "Delete a webhook registration by `webhookId`",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "delete-webhook-registration",
        "tags": [
          "Operations"
        ]
      }
    }
  },
  "definitions": {
    "webhook": {
      "type": "object",
      "title": "Webhook",
      "description": "Object used in Lianlian Pay's system to describe the client registration of event callbacks.\n\nLianlian Pay uses this object to identify events which should be pushed back to client's url.",
      "x-tags": [
        "Models"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Webhook registration id in Lianlian Pay's system"
        },
        "url": {
          "type": "string",
          "description": "Client callback url"
        },
        "isEnable": {
          "type": "boolean",
          "description": "Enable/disable callbacks"
        },
        "createTime": {
          "type": "string",
          "description": "Webhook registration time, UTC+0 timestamp"
        },
        "modifyTime": {
          "type": "string",
          "description": "Webhook last modified time, UTC+0 timestamp"
        },
        "topics": {
          "type": "array",
          "description": "Event topics in Lianlian Pay's system",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "id",
        "url",
        "isEnable",
        "createTime",
        "topics"
      ]
    }
  }
}